@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Reem Kufi", Roboto, monospace;
  color: #84eed5;
  background-color: #00372a;
  animation: hue 60s infinite;
}
.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr;
  grid-template-rows: 0.9fr 1.2fr 0.9fr;
  gap: 0 0;
  grid-template-areas: "face face face UI" "face face face card" "face face face web";
}
.UI {
  grid-area: UI;
}
.web {
  grid-area: web;
}
.card {
  grid-area: card;
}
.face {
  grid-area: face;
  background-image: url(./face.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 70vw;
}
@keyframes hue {
  0% {
    filter: invert(0%);
    background-color: #00372a;
  }
  20% {
    filter: invert(0%);
    background-color: #00372a;
  }
  25% {
    filter: invert(90%);
    background-color: #ffffff;
  }
  75% {
    filter: invert(90%);
    background-color: #ffffff;
  }
  80% {
    filter: invert(0%);
    background-color: #00372a;
  }
  100% {
    filter: invert(0%);
    background-color: #00372a;
  }
}
@-webkit-keyframes hue {
  0% {
    filter: invert(0%);
    background-color: #00372a;
  }
  20% {
    filter: invert(0%);
    background-color: #00372a;
  }
  25% {
    filter: invert(90%);
    background-color: #ffffff;
  }
  75% {
    filter: invert(90%);
    background-color: #ffffff;
  }
  80% {
    filter: invert(0%);
    background-color: #00372a;
  }
  100% {
    filter: invert(0%);
    background-color: #00372a;
  }
}
.container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.card {
  font-family: "Poppins", Roboto, monospace;
  border-radius: 44px 0 0 44px;
  width: 55vw;
  background-color: #84eed5;
}
header {
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: #84eed5;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.buttonz {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.card h1 {
  font-size: 70px;
  -webkit-text-stroke: 0;
}
.buttonz .btn {
  border: 2px solid #00372a;
  background-color: #84eed5;
  color: #00372a;
  padding: 5px 40px;
  font-size: 25px;
  letter-spacing: 3px;
  border-radius: 10px;
}
.btn:hover {
  -webkit-text-stroke: 1px #84eed5;
  background-color: #00372a;
  transition: 0.2s linear;
}
.buttonz a {
  background-color: #84eed5;
  color: #00372a;
  padding: 5px 10px;
  font-size: 32px;
  letter-spacing: 3px;
  text-decoration: none;
}
h3 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 40px;
  text-align: center;
  color: #00372a;
  margin: 0;
}
h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 50%;
  align-items: center;
  text-align: center;
  color: #00372a;
  -webkit-text-stroke: 2px #84eed5;
  margin: 0;
}
a:hover {
  color: #84eed5;
  -webkit-text-stroke: 2px #00372a;
  transition: 0.2s linear;
}
a span {
  font-weight: 900;
  font-size: 0.8em;
}
.web,
.UI {
  position: relative;
}
.web h1,
.UI h1 {
  font-size: 120px;
  animation: hueFont 60s infinite;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@keyframes hueFont {
  0% {
    color: #00372a;
  }
  15% {
    color: #84eed5;
  }
  25% {
    color: #84eed5;
  }
  75% {
    color: #84eed5;
  }
  80% {
    color: #00372a;
  }
  100% {
    color: #00372a;
  }
}
@-webkit-keyframes hueFont {
  0% {
    color: #00372a;
  }
  15% {
    color: #84eed5;
  }
  25% {
    color: #84eed5;
  }
  75% {
    color: #84eed5;
  }
  80% {
    color: #00372a;
  }
  100% {
    color: #00372a;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .card {
    width: 48vw;
  }
  .card h1 {
    -webkit-text-stroke: 0;
    font-size: 50px;
  }
  .buttonz .btn {
    padding: 5px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  .buttonz a {
    font-size: 20px;
    letter-spacing: 2px;
  }
  h3 {
    letter-spacing: 2px;
    font-size: 28px;
  }
  header {
    right: 100px;
  }
  .web h1,
  .UI h1 {
    font-size: 100px;
    right: 100px;
  }
  .main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    grid-template-rows: 0.9fr 1.2fr 0.9fr;
    gap: 0 0;
    grid-template-areas: "face face face UI" "face face face card" "face face face web";
  }
}
@media screen and (min-width: 1051px) and (max-width: 1100px) {
  .card {
    width: 45vw;
  }
  .card h1 {
    -webkit-text-stroke: 0;
    font-size: 40px;
  }
  .buttonz .btn {
    padding: 5px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  .buttonz a {
    font-size: 16px;
    letter-spacing: 2px;
  }
  h3 {
    letter-spacing: 2px;
    font-size: 22px;
  }
  header {
    right: 60px;
  }
  .web h1,
  .UI h1 {
    font-size: 60px;
    right: 60px;
  }
  .main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    grid-template-rows: 0.9fr 1.2fr 0.9fr;
    gap: 0 0;
    grid-template-areas: "face face face UI" "face face face card" "face face face web";
  }
}
@media screen and (min-width: 801px) and (max-width: 1050px) {
  h1 {
    line-height: 90%;
  }
  .card h1 {
    -webkit-text-stroke: 0;
    letter-spacing: 2px;
    font-size: 50px;
  }
  h3 {
    letter-spacing: 2px;
    font-size: 30px;
  }
  .buttonz .btn {
    padding: 5px 20px;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  .buttonz a {
    font-size: 22px;
    letter-spacing: 2px;
  }
  .card {
    position: relative;
    width: 100%;
    height: 25vh;
    border-radius: 0;
  }
  header {
    right: auto;
  }
  .web h1,
  .UI h1 {
    font-size: 80px;
    right: auto;
  }
  .face {
    box-shadow: inset -3px -3px 1px #84eed5, inset 3px 0 1px #84eed5;
    background-size: cover;
    width: 100%;
  }
  .main-container {
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    gap: 0 0;
    grid-template-areas: "card card" "UI web" "face face";
  }
}
@media screen and (max-width: 800px) {
  .main-container {
    height: 99vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 0 0;
    grid-template-areas: "card card" "face face" "UI web";
  }
  h1 {
    line-height: 80%;
  }
  .card {
    position: relative;
    width: 100%;
    height: 25vh;
    border-radius: 0;
  }
  .card h1 {
    font-size: 50px;
  }
  .buttonz .btn {
    padding: 5px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  .buttonz a {
    font-size: 20px;
    letter-spacing: 2px;
  }
  h3 {
    letter-spacing: 2px;
    font-size: 28px;
  }
  .web,
  .UI {
    height: 12vh;
    position: relative;
  }
  .web h1,
  .UI h1 {
    font-size: 33px;
    right: auto;
    position: absolute;
    top: 50%;
    animation: cradle 30s infinite;
    -ms-transform: rotate(4deg) translateY(-50%);
    transform: rotate(4deg) translateY(-50%);
  }
  @keyframes cradle {
    0% {
      transform: rotate(4deg) translateY(-50%);
    }
    50% {
      transform: rotate(-4deg) translateY(-55%);
    }
    100% {
      transform: rotate(4deg) translateY(-50%);
    }
  }
  @-webkit-keyframes cradle {
    0% {
      transform: rotate(4deg) translateY(-50%);
    }
    50% {
      transform: rotate(-4deg) translateY(-55%);
    }
    100% {
      transform: rotate(4deg) translateY(-50%);
    }
  }
  .face {
    box-shadow: inset -3px -3px 1px #84eed5, inset 3px 0 1px #84eed5;
    background-size: contain;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-height: 530px) {
  .card h1 {
    margin-top: 10px;
    font-size: 33px;
  }
  .buttonz .btn {
    padding: 2px 10px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  .buttonz a {
    font-size: 16px;
    letter-spacing: 2px;
  }
  h3 {
    letter-spacing: 2px;
    font-size: 17px;
  }
  .card {
    height: 33vh;
  }
}
